ul.ProductGrid
    li.ProductGrid-item
        .Product
            .Product-body
                h3 Title
                div Description
            .Product-footer
                if req.query.slot
                    iframe(src=req.query.slot frameborder=0)
                else
                    slot(name="controls")
.Logger.Logger--stickyBottom(data-logger)
