ul.ProductGrid
    li.ProductGrid-item
        .Product
            .Product-body
                .Picture.Picture--center
                    | ...
                h3 Title
                div Description
            .Product-footer
                button.Button.Button--fullBleed Add to Basket
.Logger.Logger--stickyBottom(data-logger='')
