ul.ProductGrid
    li.ProductGrid-item
        .Product
            .Product-body
                h3 Title
                div Description
            .Product-footer
                slot(name="controls")
.Logger.Logger--stickyBottom(data-logger)
