ul.ProductGrid.ProductGrid--thin
    li.ProductGrid-item
        .Product.Product--thin
            .Product-body
                div Title
            .Product-footer
                slot(name="controls")
.Logger.Logger--sticky(data-logger)
