ul.ProductGrid.ProductGrid--thin
    li.ProductGrid-item
        .Product.Product--thin
            .Product-body
                div Title
            .Product-footer
                if req && req.query && req.query.slot
                    iframe(src=decodeURIComponent(req.query.slot) class="Socket Socket--fullBleed" style="height:65px" data-endpoint="socket" sandbox="allow-scripts allow-same-origin")
                else if req && req.query && req.query.inc
                    esi:include(src=decodeURIComponent(req.query.inc))
                else
                    slot(name="controls" style="height:65px")
.Logger.Logger--sticky(data-logger)
